.h22
{
    color:#A219FF;
    font-size: 2.1rem;
}
.h33
{
    font-size: 0.8rem;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
}
.purple
{
    color: #A219FF;
}
.Back
{
    background-image: url("./BgImg.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 565px;
}
.lft
{
    width: 600px;
}
.Btn
{
    width: 300px;
}
.Btn1,.Btn2
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}
/*<script src-"https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>*/